<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>悪口メモ</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
    <script type="module" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" style="display:none">
        <a class="homebar" @click="tohome"><h1>悪口メモ</h1></a>
        <div v-show="scrflag.home">
            <p v-if="scrflag.desc">嫌いな人の悪口を書こう！<br>
                情報はローカルに保存されるので違法にならない！<br>
                その他は <a href="https://github.com/TNTSuperMan/insultMemo/blob/main/readme.md">こちら</a></p>
            <button v-if="scrflag.desc" @click="scrflag.desc=false">隠す</button><br>
            <button @click="expdat">エクスポート</button>
            <table border="1">
                <thead>
                    <tr><th>別名</th><th>名前</th><th>見る</th></tr>
                </thead>
                <tbody>
                    <tr v-for="(usr, i) in save">
                        <th>{{usr.nick}}</th>
                        <th>{{usr.name}}</th>
                        <th><a href="#" @click="showusr(i)">見る</a></th>
                    </tr>
                </tbody>
            </table>
            <input type="text" placeholder="別名" v-model="inp.nick">
            <input type="text" placeholder="名前" v-model="inp.name">
            <button @click="addusr">追加</button><br><br>
            <button @click="svovue">保存</button>
        </div>
        <div v-show="scrflag.usr">
            <h1>{{nusrd.name}}</h1>
            <p>{{nusrd.nick}}</p>
            <button @click="showedit">編集</button>
            <div class="gm">
                <div class="gl">
                    <h2>悪口</h2>
                    <ul>
                        <li v-for="v in nusrd.insult">
                            {{v}}
                        </li>
                    </ul>
                </div>
                <div class="gr">
                    <h2>設定</h2>
                    <ul>
                        <li v-for="v in nusrd.setting">
                            {{v}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gms"></div>
        </div>
        <div v-show="scrflag.edit">
            <button @click="savenus">保存</button>
            <button @click="delusr">消す</button><br>
            <p>名前:<input type="text" v-model="nusrd.name"></p>
            <p>別名:<input type="text" v-model="nusrd.nick"></p>
            <div class="gm">
                <div class="gl">
                    <h2>悪口</h2>
                    <ul>
                        <li v-for="(v,i) in nusrd.insult">
                            <button @click="Edelinsult(i)">X</button>{{v}}
                        </li>
                        <input type="text" v-model="inp.insult"><button @click="Eaddinsult">追加</button>
                    </ul>
                </div>
                <div class="gr">
                    <h2>設定</h2>
                    <ul>
                        <li v-for="(v,i) in nusrd.setting">
                            <button @click="Edelsetting(i)">X</button>{{v}}
                        </li>
                        <input type="text" v-model="inp.setting"><button @click="Eaddsetting">追加</button>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gms"></div>
        <a style="display:none" download="memo.txt" :href="expblob" id="dl"></a>
    </div>
    <div class="down">
        <button onclick="localStorage.setItem('imlogin',prompt('エクスポートした内容を入力してください'))">インポート</button><br>
        <button onclick="if(confirm('本当に？'))localStorage.removeItem('imlogin')">ブラウザからデータを削除</button><br>
    </div>
    
</body>
</html>