.homebar{
    color:black;
    text-decoration:none;
    transition:all 0.3s ease;
    cursor:pointer;
}
.homebar:hover{
    color:gray;
}
/*Grid*/
.gm{
    width:100%;
    position:relative;
}
.gm > div{
    position:absolute;
    top:0;
    width:50%;
}
.gl{
    left:0;
}
.gr{
    left:50%;
}
.gms{
    height:50%;
    width:10%;
}
/*Bottom bar*/
.down{
    position:fixed;
    left:0;
    bottom:0;
}
/*Tweet*/
.tweet{
    padding:15px;
    margin:25px;
    background:#EEE;
    display:inline-block;
    border:5px #DDD dashed;
    overflow:hidden;
    resize:both;
}
.tweet>select{
    height:27px;
}
.tweet>textarea{
    width:100%;
    resize:vertical;
}